<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button (click)="onToggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">LOGO</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!isAuth">
                <a routerLink="/signup">
                    <mat-icon class="nav-caption">face</mat-icon>
                    <span>Sign Up</span>
                </a>
            </li>
            <li *ngIf="!isAuth">
                <a routerLink="/login">
                    <mat-icon class="nav-caption">login</mat-icon>
                    <span>Login</span>
                </a>
            </li>
            <li *ngIf="isAuth"><a routerLink="/training">
                    <mat-icon class="nav-caption">fitness_center</mat-icon>
                    <span>Training</span>
                </a>
            </li>
            <li *ngIf="isAuth"><a style="cursor: pointer;" (click)="logout()">
                    <mat-icon class="nav-caption">eject</mat-icon>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>